1 qn.

In [6]:
a=2000
b=3201
result=[]
for i in range(a,b):
    if(i%7==0 and i%5!=0):
        result.append(i)
print(result)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

2. qn

In [12]:
n = int(input("enter a no."))
m=1
for i in range(1,n+1):
    m*=i
    print(m)

enter a no.8
1
2
6
24
120
720
5040
40320

tuple

1.qn

In [23]:
cs= input("enter comma seperated values").split(",")
x=tuple(cs)
print(cs)
print(x)

enter comma seperated values121,6446,6464
['121', '6446', '6464']
('121', '6446', '6464')

In [33]:
tp=(1,2,3,4,5,6,7,8,9,10)
tp1 = tp[:5]
tp2 = tp[5:]
print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [40]:
tp = (1,2,3,4,5,6,7,8,9,10)
result=[]
for i in tp:
    if(i%2==0):
        result.append(i)
print(tuple(result))

(2, 4, 6, 8, 10)

Daily Questions

1. list into its square

In [41]:
ls=[1,2,3,4,5,6,7]

In [46]:
op=[]
for i in (ls):
    op.append(i*i)
print(op)

[1, 4, 9, 16, 25, 36, 49]

2. concatenate 2 lists in order

In [7]:
list1=["Hello","Hi"]
list2=["Divya","Sam"]
for i in range(len(list1)):
    for j in range(len(list2)):
          print(list1[i] + list2[j])

HelloDivya
HelloSam
HiDivya
HiSam

3.pattern

In [30]:
n = int(input("enter a no."))

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

enter a no.5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

4. Reverse a word using for loop

In [33]:
word = input('enter a word ')
reverse=""
for i in word:
    reverse = i + reverse
print(reverse);

enter a word hello
olleh

5.Concatenate 2 lists index wise

In [53]:
list1 = ["Wel","t","Py","Wor"]
list2 = ["come","o","thon","ld"]
op=[]
if(len(list1)!=len(list2)):
   print("length mismatch")
else:
   for i in range(len(list1)):
    op.append(list1[i]+list2[i])
print(op)

['Welcome', 'to', 'Python', 'World']